{% extends "orders/base.html" %}

{% block body %}
<div class="container">

    <h2>Add a Pizza!🍕</h2>
    <form method="post" id="order-form" action="/add_pizza">
        {% csrf_token %}
        {% for field in form %}
        <p>
            {{ field.label_tag }}<br>
            {{ field }}
            {% if field.help_text %}
            <div style="color: grey">
                {{ field.help_text|safe }}
            </div>
            {% endif %}
        </p>
        {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
        {% endfor %}

        {% endfor %}
        <button type="submit" name="add-pizza">Add Pizza</button>
    </form>
    <div id="cart">
        <h3>My Cart</h3>
        {% if not pizzas %}
        There are no pizzas in your order.
        {% else %}
        <table>
            <thead>
                <tr>
                    <td>Pizza</td>
                    <td>Cost</td>
                </tr>
            </thead>
            {% for pizza in pizzas %}
            <tr>
                <td>{{ pizza }}</td>
                
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>

    <h2>Place Order</h2>

</div>
{% endblock %}