{% extends "orders/base.html" %}

{% block body %}
<div class="container">

    <h2>Add a Pizza!🍕</h2>
    <form method="post" id="order-form" action="/add_pizza">
        {% csrf_token %}
        {{form.as_p}}
        
        <button type="submit" name="add-pizza" class="btn btn-secondary">Add Pizza</button>
    </form>
    <div id="cart">
        <h3>My Cart</h3>
        {% if not pizzas %}
        There are no pizzas in your order.
        {% else %}
        <table>
            <thead>
                <tr>
                    <td>Pizza</td>
                    <td>Cost</td>
                </tr>
            </thead>
            {% for pizza in pizzas %}
            <tr>
                <td>{{ pizza }}</td>
                <td>{{ pizza.cost }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td>Total</td>
                <td>{{ total }}</td>
            </tr>
        </table>
        {% endif %}
    </div>
    <br />
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary btn-lg btn-block">Place Order</button>
    </form>
</div>
{% endblock %}